
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    retries                 3
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 300

listen stats :1936
    mode http
    stats enable
    stats hide-version
#    stats realm Haproxy\ Statistics
    stats uri /
#    stats auth Username:Password

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend db_write
    bind               192.168.50.30:3306
    default_backend    test-mysql

#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------
backend test-mysql
    mode        tcp
    option      tcpka
    balance     roundrobin
    server      test-mysql-1 192.168.50.31:3307 check
    server      test-mysql-2 192.168.50.32:3307 check
